<br>
<h1 style="text-align: center;"><font color="#7887AB" face="Righteous">Task Yönetim Sistemi</font></h1>

<br><br><br><br><br><br>


<div class="row">
        <div class="col-sm-4"></div>

        <div class="col-sm-4">

                <div class="card">
                        <div class="card-body">
                          <h5 color="#4F628E" face="Righteous" class="card-title">Görev Ekle</h5>
                          <input required #_task (input)="task=_task.value;" type="text" class="form-control" placeholder="Eklenecek görev"/>
                          <br>                
                          <div class="display:inline"><input (click)="addtask()" type="button" class="btn btn-primary" value="Ekle"/> &nbsp; <a class="btn btn-primary" routerLink="/task">Geri Dön</a></div>
                        </div>
              </div>
              

        </div>


        <div class="col-sm-4"></div>
</div>