<br>
<h1 style="text-align: center;"><font color="#7887AB" face="Righteous">Task Yönetim Sistemi</font></h1>

<br><br><br><br><br><br>


<div class="row">
        <div class="col-sm-2"></div>
        
        <div class="col-sm-4">

                <div class="card">
                        <div class="card-body">
                          <h5 color="#4F628E" face="Righteous" class="card-title">Ne İşe Yarar</h5>
                          <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="./../../assets/images/taskicon.png"/>
                          <p class="card-text">Bu sistem saysesinde task oluşturabilir ve oluşturduğunuz taskleri kolaylıkla takip edebilirsiniz.</p>
                          <b>Emre YAVUZ</b> & <b>Adem ÖZER</b>
                </div>
              </div>

        </div>


        <div class="col-sm-4">

                <div class="card">
                        <div class="card-body">
                          <h5 color="#4F628E" face="Righteous" class="card-title">Giriş Yap</h5>
                          <input required #_username (input)="username=_username.value;" type="text" class="form-control" placeholder="Kullanıcı Adı"/>
                          <br>
                          <input required #_password (input)="password=_password.value;" type="password" class="form-control" placeholder="Şifre"/>
                          <br>
                          <input (click)="login()" type="button" class="btn btn-primary" value="Giriş Yap"/>
                        </div>
              </div>

        </div>


        <div class="col-sm-2"></div>
</div>